@media(max-width:768px){
  .wrapper{
    overflow: hidden;
  }
  .logo-wrapper {
      margin-right: -50px;
  }
  nav ul {
    margin-right: 140px;
  }
  .top-img img{
    height: 250px;
  }
  .sentence{
    margin: 0 7% 120px;
 }
  .profile img{
    height: 250px;
    width: 250px;
  }
.works-wrapper a{
  height: 200px;
}
}
@media(min-width:768px){
  .sp-nav{
    display: none;
  }
}

@media(min-width:520px){
  .globalMenuSp{
    display: none;
  }
  .menu-btn{
    display: none;
  }
}


@media(max-width:520px){
  .logo-wrapper{
    display: block;
  }
  .logo-wrapper p{
    margin:  30px auto;
    font-size: 30px;
    text-align: center;
    width: auto;
    border: none;
    margin-left: -40px;
  }
  nav ul a{
    margin-right: 25px;
  }
  .sentence{
     margin: 0 5% 120px;
     font-size: 15px;
  }
  .sentence p{
    margin-bottom: 10px;
  }
  
  .sentence .what{
    font-size: 18px;
}
.top-img img{
  margin: -20px 0;
  height: 150px;
}
.profile{
  flex-direction: column;
  margin-bottom: 80px;
}
.profile img{
  margin-top: 20px;
  margin-right: 0;
}
.profile p{
  margin-top: 20px;
  width: 90%;
}
.service{
   flex-direction: column;
   margin-bottom: 80px;
}
.container{
  margin-bottom: 50px;
}
.works-wrapper{
  margin: 0 auto;
}
.works-wrapper h1{
  margin-bottom: 30px;
}
.works{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.works-wrapper a{
  width: 75%;
  margin-bottom: 80px;
}
.works .pc{
  display: none;
}
.price-wrapper  table{
  width: 75%;
}
.price-wrapper tr{
  flex-direction: column;
 margin-bottom: 30px;
 border-bottom: 1px solid black;
 font-size: 15px;
}
.price-wrapper td:first-child{
  margin-bottom: 20px;
}
.contact-wrapper h1{
  margin-top: 80px;
  margin-bottom: 40px;
}
.contact-wrapper  label{
  margin-left: 0;
}
input[type="submit"]{
  width: 100%;
  height: 60px;
}
textarea{
  height: 200px;
}
.icons{
  width: 100%;
}
footer{
  margin-bottom: 50px;
}
footer a img{
  margin-top: 10px;
    margin-left: 100px;
    width: 40px;
    height: 40px;
}
.page-top {
  opacity: 0;
}
/*下層ページ*/
 header a{
  margin-top: -70px;
  margin-right: -80px;
  text-decoration: none;
  color: black;
  
}
header a:hover{
  opacity: 0.5;
}
.title{
text-align: center;

}
.title h1{
text-decoration: underline;
text-decoration-color: #BC0404;
margin-top: 50px;
margin-bottom: 30px;
font-family:Helvetica ;
font-size: 28px;
}
.music{
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
 
 }
 .music img{
     height: 360px;
     border: solid 1px black;
     margin: 0 auto;
 }
 .explain{
 width: 90%;
 margin: 0 auto 60px;
 line-height: 1.5;
}
.explain div{
  display:flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.explain p:first-child{
  color: rgb(122, 122, 122);
  
}
.explain p{
  float: left;
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 12px;
}
.explain a{
  text-decoration: none;
  color: rgb(46, 191, 248);
  font-size: 10px;
}
.tab{
  margin-left: -12px;
}
.responcive{
  margin-left: 0px;
}


}