html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*,*::before,*::after{
  box-sizing: border-box;
}
.logo-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo-wrapper p{
    border: 1px solid rgb(192, 190, 190);
    border-radius: 10px;
    font-size: 45px;
    padding: 0 40px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 80px;
    height: 70px;
}
.logo-wrapper img{
  width: 50px;
  height: 50px;
  padding-top: 5px;
  margin-bottom: -5px;
  margin-left: 20px;
}
.logo-wrapper a{
  float: right;
  padding-top: 70px;
  padding-right: 140px;
}
.logo-wrapper a img{
    width: 50px;
  height: 50px;
}

 nav ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-right: 100px;
}
nav ul a{
    position: relative;
    color: #707070;
    margin-right: 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: Meiryo;
}
nav  ul a::after{
    position: absolute;
    bottom: -8px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(139, 138, 139);
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
nav ul a:hover::after{
    transform: scale(1, 1);
}

/* ハンバーガーメニュー */
.sp-nav a {
    color:black;
    text-decoration: none; }
  .sp-nav ul {
    flex-direction: column; 
    margin-right: -20px;
    margin-top: 0;
}
  .sp-nav li {
    margin: 1rem 0; }
  .sp-nav .btn-menu {
    position: relative;
    float: right;
    border: 1px solid #999;
    background: transparent;
    color:rgb(100, 98, 98);
    padding: .3rem;
    margin-top: -50px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1; }
  .sp-nav .sp {
    background-color: rgb(226, 251, 255);
    position: absolute;
    z-index: 1;
    top: 130px;
    right: 0;
    overflow: hidden;
    text-align: center;
    padding: 30px 0;
    width: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .sp-nav .sp.open-menu {
    width: 100%; } 
  

/* ハンバーガーメニュー */

.top-img {
    margin-top: 60px;
    margin-bottom: 100px;
}
.top-img img{
    height: 480px;
    width:  100%;
    object-fit: cover;
    opacity: 0.9;
}
.heading{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.sentence{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    text-align: center;
    margin:0 6% 120px;
    font-size: 20px;
}
.sentence .what{
    font-size: 24px;
}
.profile{
    display: flex;;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 150px;
}
.profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
    object-fit: cover;
}
.profile p{
    font-size: 18px;
    color: #707070;
    line-height: 1.5;
    background-color:#ecf2f8;
    padding: 20px;
}
.service{
    display: flex;
    height: auto;
    justify-content: space-around;
    margin: 55px 4% 150px 4%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    font-family: 游ゴシック体;
    color: #707070;
}
.container h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.container img{
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
}
.container p{
    font-size: 18px;
}
.works-wrapper{
    margin: 0 10% 160px 10%;
}
.works{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.works-wrapper a{
    display: block;
    width: 30%;
    height: 220px;
    border: 1px solid rgb(150, 144, 144);
    box-shadow: 3px 3px 8px lightgray;
    
}
.works-wrapper a:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.8s;
}

.works img{
   width: 100%;
   height: 100%;
}

.works .woman:hover{
    opacity: 1;
}
.price-wrapper  table{
   margin: 50px auto 120px; 
   width: 60%;
}
.price-wrapper tr{
    display: flex;
    justify-content: space-between;
   margin-bottom: 30px;
   border-bottom: 1px solid black;
   font-size: 20px;
}
.price-wrapper strong{
    font-size: 24px;
    font-weight: 500;
}

.contact-wrapper{
    margin: 0 10%;
}
.contact-wrapper .heading{
    margin-bottom: 70px;
}
form div{
    margin-bottom: 45px;
}
label{
    font-size: 20px;
    color: #707070;
    margin-bottom: 35px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea{
    border: 1px#707070 solid;
    border-radius: 5px;
    width: 100%;
}
input[type="text"],
input[type="email"]{
    height: 50px;
    font-size: 25px;
}
textarea{
    height: 280px;
    font-size: 30px;
}
input[type="submit"]{
  border: none;
  cursor: pointer;
  width: 500px;
  height: 90px;
  font-size: 25px;
  background-color: #2C87D6;
  color: white;
  border-radius: 5px;
}
.contact-wrapper p{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 0px 130px 100px 130px;
}
footer a img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: -150px;
}
.copy{
    text-align: center;
    background-color: antiquewhite;
    font-size: 18px;
    height: 40px;
    padding: 10px;
    color: rgb(167, 86, 86);
}

.page-top {
    /* buttonタグのリセットCSS */
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  
    /* ボタンの装飾 */
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(0, 110, 255), rgb(253, 108, 246));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  /* 矢印のスタイル */
  .page-top::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-bottom: -6px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(-45deg);
  }
  
  /* ホバー時のスタイル */
  .page-top:hover {
    transform: scale(1.1);
  }
  .top-btn{
      opacity: 1;
  }
 


/*下層のcss　music-salon*/
.under-wrapper{
    overflow: hidden;
}
header a{
    margin-top: -70px;
    margin-right: -130px;
    text-decoration: none;
    color: black;
}
header a:hover{
    opacity: 0.5;
}
.title{
  text-align: center;
  
}
.title h1{
text-decoration: underline;
text-decoration-color: #BC0404;
margin-top: 50px;
margin-bottom: 30px;
font-family:Helvetica ;
font-size: 30px;
}
.music{
 margin-top: 100px;
 margin-bottom: 80px;
 text-align: center;

}
.music img{
    height: 960px;
    border: solid 1px black;
    margin: 0 auto;
}
.explain{
    width: 760px;
    margin: 0 auto 60px;
   line-height: 1.5;
}
.explain div{
    display: flex;
}
.explain p{
    float: left;
    margin-right: 100px;
    margin-bottom: 20px;
}
.explain a{
    text-decoration: none;
    color: rgb(46, 191, 248);
}
.responcive{
    margin-left: -18px;
}
/*music-salon*/
