@media(max-width:600px){
  .wrapper{
   overflow: hidden;
  }
  .profile p{
    padding: 5px 10px;
    margin-top: -5px;
    margin-bottom: 30px;
  }
  .top img{
    height: 400px;
  }
  .about-wrapper{
    display: block;
    text-align: center;
    margin-top: 64px;
  }
  .about-wrapper img{
    margin-left: 30px;
  }
  .about-profile{
   text-align: left;
  }
  .lesson-wrapper{
    display: flex;
    flex-direction: column;
  }
  .lesson-img{
    width: 100%;
    margin-bottom: 35px;
  }
}